* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: bold;
}

::-webkit-scrollbar {
  display: none;
}

#player {
  position: fixed;
}

.main {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding-top: 9.35vh;
}

.main_img {
  width: 87vw;
  max-width: 450px;
  height: 55vh;
  border: 10px solid #FFFFFF;
  margin: auto;
  position: relative;
  overflow: auto;
  cursor: pointer;
  z-index: 1;
}

.lyricsBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  padding: 3.7vh 22%;
  color: #595959;
  line-height: 60px;
}

.lyricsBox::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: #FFFFFF;
  opacity: 0.85;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  z-index: -1;
}

.main_bottom {
  width: 100vw;
  height: 35.6vh;
  text-align: center;
  margin: auto;
  padding-top: 6.77vh;
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: #413D3D;
}

.main_filter {
  position: absolute;
  top: 50px;
  left: -1000px;
  right: -1000px;
  bottom: -1000px;
  background-color: rgba(255, 255, 255, 0.85);
  -webkit-filter: blur(20px);
          filter: blur(20px);
  z-index: -1;
}

.Player_information {
  cursor: pointer;
}

.Player_information h1 {
  font-size: 1.375rem;
}

.player_time {
  width: 87vw;
  max-width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 3.2vh auto 1.2vh;
}

.player_time p {
  margin-top: 0.985vh;
  font-size: 0.625rem;
}

.player_time_bar {
  width: 100%;
  border: 1px solid #DEDEDE;
  cursor: pointer;
  position: relative;
  top: 0.5px;
}

input {
  -webkit-appearance: none;
  border-radius: 10px;
  width: 100%;
  height: 0;
  outline: none;
  position: relative;
}

input::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 10px;
  top: -5px;
  left: 0;
}

input[type=range]::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  height: 6px;
  width: 6px;
  top: -0.5px;
  left: 1px;
  background: #413D3D;
  border-radius: 50%;
}

.time_bar_now {
  position: absolute;
  top: -0.5px;
  border: 1px solid #413D3D;
}

.Player_control {
  width: 87vw;
  max-width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.Player_control > img {
  cursor: pointer;
}

.main_playlist {
  width: 100vw;
  min-height: 100vh;
  background-image: url("../picture/8C9Evy.png");
  background-size: cover;
  background-position: center;
  padding: 5.41vh 0 70px;
  overflow: hidden;
}

.list_filter {
  width: 100vw;
  position: relative;
  z-index: 1;
}

.list_filter::before {
  content: '';
  position: absolute;
  top: 0px;
  left: -1000px;
  right: -1000px;
  bottom: -1000px;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-filter: blur(50px);
          filter: blur(50px);
  z-index: -1;
}

.playlist_top {
  width: 100vw;
  max-width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #FFFFFF;
  font-size: 1.75rem;
  text-shadow: 0 0 8px #595959;
  margin: auto;
}

.playlist_bottom {
  width: 100vw;
  max-width: 450px;
  color: #413D3D;
  margin: auto;
}

.play_list_search {
  width: 100%;
  text-align: center;
  margin-bottom: 3.7vh;
}

.play_list_search input {
  width: 84%;
  height: 100%;
  max-width: 450px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #413D3D;
}

.play_list_search input::-webkit-input-placeholder {
  text-align: right;
  text-decoration: underline;
  color: #413D3D;
}

.play_list_search input:-ms-input-placeholder {
  text-align: right;
  text-decoration: underline;
  color: #413D3D;
}

.play_list_search input::-ms-input-placeholder {
  text-align: right;
  text-decoration: underline;
  color: #413D3D;
}

.play_list_search input::placeholder {
  text-align: right;
  text-decoration: underline;
  color: #413D3D;
}

.listBox {
  width: 84%;
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #DEDEDE;
  color: #BBBBBB;
  margin: auto;
  cursor: pointer;
}

.listBox P:nth-of-type(1) {
  font-size: 1.125rem;
}

.listBox P:nth-of-type(2) {
  font-size: 0.875rem;
  color: #DBDBDB;
  font-weight: normal;
}

.now_listBox {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 8px #BBBBBB;
          box-shadow: 0 0 8px #BBBBBB;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  border: none;
}

.now_listBox P:nth-of-type(1) {
  color: #413D3D;
  font-size: 1.125rem;
}

.now_listBox P:nth-of-type(2) {
  font-weight: bold;
}

.AD {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(65, 61, 61, 0.8);
  color: #413D3D;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.AD_card {
  width: 87.2%;
  max-width: 450px;
  height: 55%;
}

.AD_card > p {
  width: 100px;
  margin: 15px auto 0;
  color: #FFFFFF;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  cursor: pointer;
}

.AD_card_img {
  width: 100%;
  height: 64%;
  background-size: cover;
  background-position: center;
}

.AD_card_content {
  width: 100%;
  height: 36%;
  background-color: #FFFFFF;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.AD_card_content h1 {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 95%;
  font-size: 1.375rem;
}

.AD_card_content > div {
  width: 100%;
  height: 31%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.AD_card_btn {
  width: 43%;
  height: 100%;
  background-color: #413D3D;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  margin-top: 15px;
  cursor: pointer;
}

.AD_card_btn:hover {
  background-color: #595959;
}

.playlist_control {
  width: 100vw;
  max-width: 450px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #DEDEDE;
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 5;
}

.control_img {
  width: 70px;
  height: 70px;
  background-size: cover;
  background-position: center;
}

.control_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 81.333vw;
  max-width: 380px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5px 0 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.control_text p:nth-of-type(2) {
  font-size: 0.875rem;
}

.fade {
  -webkit-animation: fade .5s;
          animation: fade .5s;
}

.slide {
  -webkit-animation: slide .5s;
          animation: slide .5s;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
/*# sourceMappingURL=all.css.map */