@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  width: 100%;
  font-family: '微軟正黑體';
}

.main {
  width: 100%;
  font-family: 'Noto Sans TC', sans-serif;
}

.main::before {
  content: '';
  width: 100%;
  height: 22.5vh;
  position: fixed;
  bottom: 0;
  background-color: #defff2;
  background-image: url("../icon/footer-background.svg");
  background-size: 50px;
  z-index: -1;
}

.container {
  width: 71.8333%;
  max-width: 862px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: auto;
}

.main_slide {
  width: 234px;
  margin-top: 15vh;
  background-color: #F3F3F3;
  padding: 24px 0 26px 24px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
}

.main_slide h3 {
  margin-bottom: 14px;
}

.main_slide_text > div {
  font-weight: 300;
  margin-bottom: 18px;
}

.main_slide P:nth-of-type(1) {
  color: #5E5E5E;
}

.main_content {
  width: 72.85%;
  max-width: 628px;
  height: 100%;
}

.pay {
  width: 100%;
  max-width: 628px;
  -webkit-box-shadow: 0 2px 13px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 13px rgba(0, 0, 0, 0.08);
  background-color: #FFFFFF;
  border-top-right-radius: 10px;
  padding: 5.58% 9.23% 20.58%;
  position: relative;
}

.pay_text {
  width: 100%;
  font-size: 1.25rem;
  letter-spacing: 2.1px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.pay_text::before {
  content: '';
  position: absolute;
  top: 14.5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 237px;
  height: 17px;
  background-color: #B5FFE4;
  z-index: -1;
}

.pay_next {
  width: 100%;
  text-align: right;
  margin-top: 22px;
}

.btn {
  font-family: 'Noto Sans TC', sans-serif;
  width: 89px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  font-size: 0.875rem;
  border: none;
  outline: none;
  color: #FFFFFF;
  cursor: pointer;
}

.btn_green {
  background-color: #36B996;
}

.btn_gray {
  background-color: #4B4B4B;
  position: absolute;
  bottom: -64px;
  left: 0;
  z-index: 10;
}

.btn_green_L {
  background-color: #D5F5E9;
}

.btn_green_L a {
  display: inline-block;
  color: #5E5E5E;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.btn_green_L a :visited {
  color: #5E5E5E;
}

.step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  position: relative;
  width: 300px;
  height: 15vh;
  margin: auto;
  font-size: 1.25rem;
}

.step::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 20px;
  width: 266px;
  height: 3px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
}

.step > li {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #FFFFFF;
  text-align: center;
  line-height: 40px;
}

.step > li:nth-of-type(2) {
  margin: 0 90px;
}

@media screen and (max-width: 1023px) {
  .step {
    height: 12vh;
  }
  .container {
    width: 100%;
    margin: auto;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }
  .main_slide {
    position: fixed;
    margin: 0;
    top: 80px;
    left: 0;
    height: 100px;
    width: 40px;
    border-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    z-index: 2;
  }
  .main_slide:hover {
    left: 30%;
  }
  .main_slide:hover .main_slide_text {
    display: block;
    position: fixed;
    top: 80px;
    left: 0;
    width: 30%;
    background-color: #F3F3F3;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    border-bottom-right-radius: 10px;
  }
  .main_slide h3 {
    position: absolute;
    top: 17px;
    left: 8px;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    font-weight: 300;
    font-size: 1rem;
  }
  .main_slide_text {
    display: none;
  }
  .main_content {
    width: 100%;
    margin: auto;
  }
  .pay {
    height: auto;
    border-radius: 0;
    position: relative;
    padding-bottom: 50px;
  }
  .pay_text {
    margin-bottom: 35px;
  }
  .btn_gray {
    position: fixed;
    bottom: 10px;
    left: 10px;
  }
}
