@charset "UTF-8";
.step::before {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(25%, #8DEFCB), to(#D8D8D8));
  background-image: linear-gradient(to right, #8DEFCB 25%, #D8D8D8);
}

.step > li:nth-of-type(1) {
  background-color: #8DEFCB;
}

.step > li:nth-of-type(2) {
  background-color: #8DEFCB;
}

.step > li:nth-of-type(3) {
  background-color: #AFAFAF;
}

.pay {
  font-size: 0.875rem;
  font-weight: 300;
}

.pay_text {
  margin-bottom: 48px;
}

.pay_text > p {
  font-size: 0.75rem;
  font-weight: 300;
  margin-top: 7px;
}

.pay_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 19px;
}

.pay_input label {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #979797;
  position: relative;
}

.pay_input > p {
  margin: 0 30px 0 9px;
}

.pay_check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 28px;
}

.pay_check label {
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 5px;
  border: 1px solid #979797;
  margin-top: 5px;
}

.pay_check > div {
  width: 91.79%;
  margin-left: 10px;
}

.pay_check P:nth-of-type(2) {
  color: #979797;
}

.pay_next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 28px;
}

.pay_creditCard_number, .pay_creditCard_date, .pay_creditCard_last, .pay_mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 19px;
}

.pay_creditCard_number > P:nth-of-type(1), .pay_creditCard_date > P:nth-of-type(1), .pay_creditCard_last > P:nth-of-type(1), .pay_mail > P:nth-of-type(1) {
  width: 100%;
  margin-bottom: 10px;
}

.pay_creditCard_number > p:not(:nth-of-type(1)), .pay_creditCard_date > p:not(:nth-of-type(1)), .pay_creditCard_last > p:not(:nth-of-type(1)), .pay_mail > p:not(:nth-of-type(1)) {
  margin: 0 7.5px;
}

.pay_creditCard_number > input, .pay_creditCard_date > input, .pay_creditCard_last > input, .pay_mail > input {
  height: 34px;
  border-radius: 5px;
  border: 1px solid #979797;
  outline: none;
  padding: 15px;
}

.pay_creditCard_number > input {
  width: 61px;
}

.pay_creditCard_number div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
}

.pay_creditCard_date > select {
  width: 93px;
  height: 34px;
  border-radius: 5px;
  outline: none;
}

.pay_creditCard_last > input {
  width: 93px;
  margin-right: 12px;
}

.pay_mail {
  width: 235px;
}

input[type='radio'],
input[type='checkbox'],
input[type='submit'] {
  display: none;
}

input[type='radio']:checked + label::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #36B996;
  border-radius: 50%;
}

input[type='checkbox']:checked + label::before {
  content: '✔';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

input:invalid:focus {
  border: 1px solid red;
}

@media screen and (max-width: 1200px) {
  .pay_text {
    margin-bottom: 35px;
  }
  .pay_creditCard_number div {
    margin: 0;
  }
  .pay_next {
    margin-top: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (max-width: 600px) {
  .pay {
    height: auto;
  }
  .pay_text > p {
    display: none;
  }
  .pay_creditCard_number > div:last-of-type {
    display: none;
  }
  .pay_creditCard_number > p:not(:nth-of-type(1)) {
    margin: 2.5px;
  }
}
/*# sourceMappingURL=main02.css.map */